allow system_app proc_touchscreen:dir search;
allow system_app proc_touchscreen:file rw_file_perms;

allow system_app alarm_boot_prop:file read;
allow system_app alarm_handled_prop:file read;
allow system_app alarm_instance_prop:file read;
allow system_app bg_boot_complete_prop:file read;
allow system_app bg_daemon_prop:file read;
allow system_app boot_animation_prop:file read;
allow system_app bootstat_prop:file read;
allow system_app coresight_prop:file read;
allow system_app freq_prop:file read;
allow system_app fst_prop:file read;
allow system_app location_prop:file read;
allow system_app mmi_prop:file read;
allow system_app mpdecision_prop:file read;
allow system_app netd_prop:file read;
allow system_app nfc_nq_prop:file read;
allow system_app opengles_prop:file read;
allow system_app per_mgr_state_prop:file read;
allow system_app qcom_ims_prop:file read;
allow system_app qdma_prop:file read;
allow system_app qemu_gles_prop:file read;
allow system_app qemu_hw_mainkeys_prop:file read;
allow system_app rmnet_mux_prop:file read;
allow system_app scr_enabled_prop:file read;
allow system_app sdm_idle_time_prop:file read;
allow system_app spcomlib_prop:file read;
allow system_app sys_usb_configfs_prop:file read;
allow system_app sys_usb_controller_prop:file read;
allow system_app sys_usb_tethering_prop:file read;
allow system_app uicc_prop:file read;
allow system_app vendor_rild_libpath_prop:file read;
allow system_app vendor_system_prop:file read;
allow system_app wcnss_prop:file read;
allow system_app wifi_prop:file read;
allow system_app wigig_prop:file read;
allow system_app xlat_prop:file read;
