allow system_server persist_file:dir { read write };
allow system_server proc_touchscreen:dir search;
allow system_server proc_touchscreen:file rw_file_perms;

binder_call(system_server, gx_fpd);
allow system_server gx_fpd_service:service_manager find;

allow system_server vendor_file:file r_file_perms;

# allow system_server dalvikcache_data_file:file execute;
allow system_server spcomlib_prop:file read;
allow system_server vendor_rild_libpath_prop:file read;
allow system_server wcnss_prop:file read;
allow system_server wififtmd_prop:file read;

