allow untrusted_app_25 bg_boot_complete_prop:file read;
allow untrusted_app_25 bg_daemon_prop:file read;
allow untrusted_app_25 per_mgr_state_prop:file read;
allow untrusted_app_25 qdma_prop:file read;
allow untrusted_app_25 spcomlib_prop:file read;
allow untrusted_app_25 sys_usb_controller_prop:file read;
allow untrusted_app_25 sys_usb_tethering_prop:file read;
allow untrusted_app_25 uicc_prop:file read;
allow untrusted_app_25 vendor_rild_libpath_prop:file read;
allow untrusted_app_25 wcnss_prop:file read;
allow untrusted_app_25 wififtmd_prop:file read;
